@using AutomacaoFolhaPagamento.Models;
@{
    ViewData["Title"] = "Cadastrar";
}

@model CargosViewModel;
<link href="~/css/cadastrofuncionario.css" rel="stylesheet" />
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Cargos" asp-action="Index"><span>Cargos</span></a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastro de cargos</li>
    </ol>
</nav>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" id="divAround">
                <div class="card-header d-flex justify-content-center align-items-center">
                    <h4 class="mb-2 mt-2">Cadastro de Cargos</h4>
                </div>
                <div class="card-body">
                    <form  asp-controller="Cargos" asp-action="Create" method="post">
                        <div class="mb-3">
                            <input asp-for="nome_cargo" type="text" placeholder="Título do Cargo" class="form-control col-4" required />
                        </div>
                        <div class="mb-3 mt-3">
                            <textarea asp-for="descricao_cargo" style="resize: none;" rows="4" class="form-control col-4" required placeholder="Descrição do cargo"></textarea>
                        </div>

                        <div class="mb-3">
                            <select asp-for="departamentoId" class="form-control" name="departamentoId">
                                @foreach (var item in ViewData["Departamentos"] as List<SelectListItem>)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3 mt-3">
                            <input asp-for="salario" type="text" placeholder="Salário: Ex: R$5.000,00" class="form-control col-4" required />
                        </div>

                        <button type="submit" class="btn btn-success mb-3 w-100">Cadastrar</button>

                    </form>
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["ErrorMessage"]
                        </div>
                    }
                    @if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewData["SuccessMessage"]
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

