@{
    ViewData["Title"] = "Cadastrar Cargos";
}

<div class="container-sm">
    <h2>Cadastro de Cargos</h2>
    <form method="post" action="@Url.Action("SuaAction", "SeuController")">
        <div class="input-group mb-3">
            <span class="input-group-text">Nome do Funcionário</span>
            <input type="text" class="form-control" placeholder="Nome completo" name="nome_funcionario">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">CPF</span>
            <input type="text" class="form-control" placeholder="XXX.XXX.XXX-XX" name="cpf" id="cpf" maxlength="14">
        </div>

        
    </form>
</div>
