@{
    ViewData["Title"] = "Cadastrar Usuários";
}


@model CadastroViewModel

<link href="~/css/cadastrofuncionario.css" rel="stylesheet" />
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Cargos" asp-action="Index"><span>Usuários</span></a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastro de cargos</li>
    </ol>
</nav>

<div class="w-100 d-flex justify-content-center" style="background-color: #fafafa; border-top-right-radius: 8px; border-bottom-right-radius: 8px; margin-top: 32px;">
    <div class="d-flex" style="display: flex; flex-direction: column; justify-content: center; align-content: center; height: 100%; width: 100%; flex-wrap: wrap">
        <div style="">
            <h4 class="mt-2 mb-2">Cadastro de usuários</h4>
        </div>
       
        <form asp-controller="CadastroUsuario" asp-action="Cadastro" method="post" class="d-block col-5">
            <div class="mb-3 mt-3">
                <input asp-for="Nome" type="text" placeholder="Nome completo" class="form-control col-4" required />
            </div>
            <div class="mb-3 mt-3">
                <input asp-for="Email" type="email" placeholder="E-mail" class="form-control col-4" required />
            </div>
            <div class="mb-3">
                <input asp-for="Senha" type="password" placeholder="Senha" class="form-control" required />
            </div>
            <div class="mb-3">
                <input asp-for="ConfirmaSenha" type="password" placeholder="Confirma Senha" class="form-control" required />
            </div>
            <div class="mb-3 d-flex">

                <div class="form-check me-3">
                    <input asp-for="Tipo" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Funcionário
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="Tipo" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="1" checked>
                    <label class="form-check-label" for="flexRadioDefault2" >
                        Administrador
                    </label>
                </div>

            </div>
            <button type="submit" class="btn btn-success mb-3 w-100">Cadastrar</button>


            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["ErrorMessage"]
                </div>
            }
            @if (ViewData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewData["SuccessMessage"]
                </div>
            }
        </form>
    </div>
</div>

