@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="container-fluid mb-3 mt-fill-header">
    <div class="row mb-5 pb-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" style="">
            <a>
                <div class="card mb-4" style="box-shadow: 3px 3px 10px #bbb;">
                    <div class="card-header">
                        <span style="display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-desktop fa-4x"></i>
                        </span>
                    </div>
                    <div class="card-body text-center col-12">
                        <div class="row">
                            <div class="col-md">
                                <h3 style="text-transform: none;">
                                    <span style="font-size: 18px;">CADASTROS</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>
