@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<style>
    .hover-class > a{
        color: #264716 !important;
    }
    .hover-class:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
</style>

<div class="container-fluid mb-3 mt-fill-header">
    <div class="row mb-5 pb-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hover-class" style="transition: transform 0.3s ease-in-out;">
            <a asp-action="Index" asp-controller="Departamentos">
                <div class="card mb-4" style="box-shadow: 3px 3px 10px #bbb;">
                    <div class="card-header" style="align-items: center; font-size: 60px; border: 0; padding: 0.75rem 1.25rem;
                            margin-bottom: 0; background-color: rgba(0,0,0,.03); height: 105px;">
                        <span style="display: flex; align-items: center; justify-content: center; height: 90px;">
                            <i class="bx bx-sitemap" style="font-weight: 900;"></i>
                        </span>
                    </div>
                    <div class="card-body text-center col-12" style="background-color: rgba(0,0,0,.03); height: 125px;">
                        <div class="row">
                            <div class="col-md">
                                <h3 style="text-transform: none; font-weight: 600;">
                                    <span style="font-size: 18px;">DEPARTAMENTOS</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hover-class" style="transition: transform 0.3s ease-in-out;">
            <a asp-controller="Cargos" asp-action="Index">
                <div class="card mb-4" style="box-shadow: 3px 3px 10px #bbb;">
                    <div class="card-header" style="font-size: 60px; border: 0; padding: 0.75rem 1.25rem;
                             margin-bottom: 0; background-color: rgba(0,0,0,.03); height: 105px;">
                        <span style="display: flex; align-items: center; justify-content: center; height: 90px;">
                            <i class="bx bx-group" style="font-weight: 900;"></i>
                        </span>
                    </div>
                    <div class="card-body text-center col-12" style="background-color: rgba(0,0,0,.03); height: 125px;">
                        <div class="row">
                            <div class="col-md">
                                <h3 style="text-transform: none; font-weight: 600;">
                                    <span style="font-size: 18px;">CARGOS</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hover-class" style="transition: transform 0.3s ease-in-out;">
            <a asp-action="Index" asp-controller="Funcionarios">
                <div class="card mb-4" style="box-shadow: 3px 3px 10px #bbb;">
                    <div class="card-header" style="align-items: center; font-size: 60px; border: 0; padding: 0.75rem 1.25rem;
                            margin-bottom: 0; background-color: rgba(0,0,0,.03); height: 105px;">
                        <span style="display: flex; align-items: center; justify-content: center; height: 90px;">
                            <i class="bx bx-user" style="font-weight: 900;"></i>
                        </span>
                    </div>
                    <div class="card-body text-center col-12" style="background-color: rgba(0,0,0,.03); height: 125px;">
                        <div class="row">
                            <div class="col-md">
                                <h3 style="text-transform: none; font-weight: 600;">
                                    <span style="font-size: 18px;">FUNCIONÁRIOS</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hover-class" style="transition: transform 0.3s ease-in-out;">
            <a asp-action="Dashboard" asp-controller="Relatorio">
                <div class="card mb-4" style="box-shadow: 3px 3px 10px #bbb;">
                    <div class="card-header" style="font-size: 60px; border: 0; padding: 0.75rem 1.25rem;
                             margin-bottom: 0; background-color: rgba(0,0,0,.03); height: 105px;">
                        <span style="display: flex; align-items: center; justify-content: center; height: 90px;">
                            <i class="bx bx-bar-chart-alt-2" style="font-weight: 900;"></i>
                        </span>
                    </div>
                    <div class="card-body text-center col-12" style="background-color: rgba(0,0,0,.03); height: 125px;">
                        <div class="row">
                            <div class="col-md">
                                <h3 style="text-transform: none; font-weight: 600;">
                                    <span style="font-size: 18px;">DASHBOARDS</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hover-class" style="transition: transform 0.3s ease-in-out;">
            <a>
                <div class="card mb-4" style="box-shadow: 3px 3px 10px #bbb;">
                    <div class="card-header" style="font-size: 60px; border: 0; padding: 0.75rem 1.25rem;
                             margin-bottom: 0; background-color: rgba(0,0,0,.03); height: 105px;">
                        <span style="display: flex; align-items: center; justify-content: center; height: 90px;">
                            <i class="bx bx-file-find" style="font-weight: 900;"></i>
                        </span>
                    </div>
                    <div class="card-body text-center col-12" style="background-color: rgba(0,0,0,.03); height: 125px;">
                        <div class="row">
                            <div class="col-md">
                                <h3 style="text-transform: none; font-weight: 600;">
                                    <span style="font-size: 18px;">RELATÓRIOS</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hover-class" style="transition: transform 0.3s ease-in-out;">
            <a asp-action="Index" asp-controller="CalculaFolha">
                <div class="card mb-4" style="box-shadow: 3px 3px 10px #bbb;">
                    <div class="card-header" style="font-size: 60px; border: 0; padding: 0.75rem 1.25rem;
                             margin-bottom: 0; background-color: rgba(0,0,0,.03); height: 105px;">
                        <span style="display: flex; align-items: center; justify-content: center; height: 90px;">
                            <i class="bx bx-money" style="font-weight: 900;"></i>
                        </span>
                    </div>
                    <div class="card-body text-center col-12" style="background-color: rgba(0,0,0,.03); height: 125px;">
                        <div class="row">
                            <div class="col-md">
                                <h3 style="text-transform: none; font-weight: 600;">
                                    <span style="font-size: 18px;">CÁLCULO DE FOLHA</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hover-class" style="transition: transform 0.3s ease-in-out;">
            <a>
                <div class="card mb-4" style="box-shadow: 3px 3px 10px #bbb;">
                    <div class="card-header" style="font-size: 60px; border: 0; padding: 0.75rem 1.25rem;
                             margin-bottom: 0; background-color: rgba(0,0,0,.03); height: 105px;">
                        <span style="display: flex; align-items: center; justify-content: center; height: 90px;">
                            <i class="bx bx-help-circle" style="font-weight: 900;"></i>
                        </span>
                    </div>
                    <div class="card-body text-center col-12" style="background-color: rgba(0,0,0,.03); height: 125px;">
                        <div class="row">
                            <div class="col-md">
                                <h3 style="text-transform: none; font-weight: 600;">
                                    <span style="font-size: 18px;">DÚVIDAS FREQUENTES</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hover-class" style="transition: transform 0.3s ease-in-out;">
            <form id="logoutForm" asp-action="Logout" asp-controller="Login" method="post" style="display: none;">
            </form>
            <a>
                <div class="card mb-4" style="box-shadow: 3px 3px 10px #bbb;">
                    <div class="card-header" style="font-size: 60px; border: 0; padding: 0.75rem 1.25rem;
                             margin-bottom: 0; background-color: rgba(0,0,0,.03); height: 105px;">
                        <span style="display: flex; align-items: center; justify-content: center; height: 90px;" onclick="document.getElementById('logoutForm').submit();">
                            <i class="bx bx-log-out" style="font-weight: 900;"></i>
                        </span>
                    </div>
                    <div class="card-body text-center col-12" style="background-color: rgba(0,0,0,.03); height: 125px;">
                        <div class="row">
                            <div class="col-md">
                                <h3 style="text-transform: none; font-weight: 600;">
                                    <span style="font-size: 18px;">SAIR</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
