@{
    ViewData["ShowHeader"] = false;
    ViewData["Title"] = "Login";

}


@model LoginViewModel

<div class="container" style="min-height: 10vh;">
    <div class="row justify-content-center align-items-stretch" style="min-height: inherit;">
        <!-- Imagem que será ocultada em telas pequenas -->
        <div class="col-lg-6 d-none d-lg-flex p-0" style="background: url('~/lib/paperclip.svg') no-repeat center center; background-size: cover; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
            <img src="~/lib/paperclip.svg" alt="Decorative image" style="height: 100%; border-top-left-radius: 8px; border-bottom-left-radius: 8px; width: 100%; object-fit: cover;">
        </div>
        <!-- Área do formulário -->
        <div class="col-12 col-lg-6 d-flex" style="background-color: #739e52; border-top-right-radius: 8px; border-bottom-right-radius: 8px;">
            <div class="w-100" style="display: flex; flex-direction: column; justify-content: center; padding: 2rem;">
                <div class="text-center mb-4">
                    <h1 class="mr-1">Hol<span style="background-color: #376a26; padding: 4px 8px; border-radius: 4px;">Free</span></h1>
                    <h6>Automatização de holerites</h6>
                </div>
                <form asp-controller="Login" asp-action="Login" method="post" class="my-5">
                    <div class="input-group mb-3 mt-3">
                    <i class="input-group-text fa-solid fa-user" style="line-height: 2; background-color: #7da980; padding:6px 16px"></i>
                    <input asp-for="Email" type="email" placeholder="usuario@dominio.com.br" class="form-control col-4" required />
                </div>

                <div class="input-group mb-3 mt-3">
                    <i class="input-group-text fa-solid fa-lock" style="line-height: 2; background-color: #7da980; padding:6px 16px"></i>
                    <input asp-for="Password" type="password" placeholder="Senha" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-success mb-3 w-100">Entrar</button>
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["ErrorMessage"]
                        </div>
                    }
            </form>
        </div>
    </div>
</div>
</div>