@using AutomacaoFolhaPagamento.Models;
@{
    ViewData["Title"] = "Gráfico do Total Líquido";
}
@model GraficosViewModel

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>

<!-- Biblioteca Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container mt-5">
    <h2>Total de Pagamento Líquido Mensal</h2>
    <div style="position: relative; height:40vh; width:80vw">
        <canvas id="totalLiquidoChart"></canvas>
    </div>
</div>
<div class="container mt-5">
    <h2>Total de Pagamentos Anual por Departamento</h2>
    <div style="position: relative; height:40vh; width:80vw">
        <canvas id="totalLiquidoAnoMesChart"></canvas>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('totalLiquidoChart').getContext('2d');

        // Dados do gráfico
        var data = {
            labels: @Html.Raw(Json.Serialize(Model.pagamentoAnoMes.Select(p => p.texto.ToString()))),
            datasets: [{
                label: 'Total Líquido',
                data: @Html.Raw(Json.Serialize(Model.pagamentoAnoMes.Select(p => p.totalLiq))),
                backgroundColor: 'rgba(144, 238, 144, 0.2)',  // Verde claro para o fundo
                borderColor: 'rgba(144, 238, 144, 1)',
                borderWidth: 1
            }]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        callback: function (value, index, values) {
                            return 'R$ ' + value;
                        }
                    }
                }
            }
        };

        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });



    var ctx2 = document.getElementById('totalLiquidoAnoMesChart').getContext('2d');

    // Dados do segundo gráfico
    var data2 = {
        labels: @Html.Raw(Json.Serialize(Model.pagamentoMensal.Select(p => p.texto))),
        datasets: [{
            label: 'Total Líquido por Departamento',
            data: @Html.Raw(Json.Serialize(Model.pagamentoMensal.Select(p => p.totalLiq))),
            backgroundColor: 'rgba(144, 238, 144, 0.2)',  // Verde claro para o fundo
            borderColor: 'rgba(144, 238, 144, 1)',
            borderWidth: 1
        }]
    };

    var options2 = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    callback: function (value, index, values) {
                        return 'R$ ' + value;
                    }
                }
            }
        }
    };

    var myBarChart2 = new Chart(ctx2, {
        type: 'bar',
        data: data2,
        options: options2
    });
    });

</script>



