@using AutomacaoFolhaPagamento.Models;
@{
    ViewData["Title"] = "Cadastrar Departamentos";
}

@model DepartamentosViewModel


<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Departamentos" asp-action="Index">Departamentos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastro de departamentos</li>
    </ol>
</nav>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Cadastro de departamentos</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Departamentos" asp-action="Cadastro" method="post">
                        <div class="mb-3">
                            <label for="NomeDepartamento" class="form-label">Nome do Departamento</label>
                            <input asp-for="NomeDepartamento" type="text" class="form-control" id="NomeDepartamento" placeholder="Nome do Departamento" required />
                        </div>
                        <div class="mb-3">
                            <label for="DescricaoDepartamento" class="form-label">Descrição</label>
                            <textarea asp-for="DescricaoDepartamento" class="form-control" id="DescricaoDepartamento" rows="4" placeholder="Descrição do departamento" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger mt-2" role="alert">
                            @ViewData["ErrorMessage"]
                        </div>
                    }
                    @if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success mt-2" role="alert">
                            @ViewData["SuccessMessage"]
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

