@{
    ViewData["Title"] = "Cadastrar Funcionários";
}

<div class="container-sm">
    <h2>Cadastro de Funcionários</h2>
    <form method="post" action="@Url.Action("SuaAction", "SeuController")">
        <!-- Adicione a URL correta aqui -->
        <!-- Funcionarios -->
        <div class="input-group mb-3">
            <span class="input-group-text">Nome do Funcionário</span>
            <input type="text" class="form-control" placeholder="Nome completo" name="nome_funcionario">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">CPF</span>
            <input type="text" class="form-control" placeholder="XXX.XXX.XXX-XX" name="cpf" id="cpf" maxlength="14">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Cargo</span>
            <input type="text" class="form-control" name="cargo">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Departamento</span>
            <input type="text" class="form-control" name="departamento">
        </div>

        <!-- Adicione outros campos necessários -->
        <!-- Endereco -->
        <h3>Endereço</h3>
        <div class="input-group mb-3">
            <span class="input-group-text">Rua</span>
            <input type="text" class="form-control" placeholder="Rua" name="rua">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Número</span>
            <input type="number" class="form-control" name="num_end">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Bairro</span>
            <input type="text" class="form-control" name="bairro">
        </div>

        <!-- Adicione outros campos de endereço conforme necessário -->

        <div class="mb-3 d-flex float-end justify-content-between">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>

<script src="~/js/CadastrarFuncionario.js" asp-append-version="true"></script>
